.sideNav{
    height: 100%;
    width: 0;/*We change it with js*/
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    z-index: 1;/*stay on top*/
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;/*no horizontal scroll*/
    overflow: hidden;
    padding-top: 60px;
    transition: 0.5s;
    text-align: right;
    font-size: 20PX;
}
.sideNav > a{
    white-space: nowrap; /* not allowing the words in the menu to break when we open or close menu*/
    text-decoration: none;
    display: block;
    padding: 15px 60px 15px 0px;
    color: white;
    transition: 0.5s; /*same transition as the hole sideNav*/
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
}
.sideNav > a:hover{
    color: rgb(14, 13, 13);
    background-color: white;
    -webkit-box-shadow: 0px 21px 13px -16px rgba(0,0,0,0.8);
-moz-box-shadow: 0px 21px 13px -16px rgba(0,0,0,0.8);
box-shadow: 0px 21px 13px -16px rgba(0,0,0,0.8);
}
#closeBtn{
    /*positioning the x icon*/
    width: 35px;
    height: 35px;
    position: absolute;
    top: 15px;
    left: 20px;
    border-radius: 50%;
    /*optional*/
    border-radius: 50%;  
    color: white;
    cursor: pointer;
}
#closeBtn:hover{
    background-color: white;
    color: black;
    
}
.foodIcon{
    margin-right: 10px;
}


@media screen and (max-width: 450px) {
    .sideNav a {font-size: 18px;}
  
}